@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #faf9f9;
  font-family: system-ui, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    color: #fffefe;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.section-title {
    font-size: 3.7rem;
    font-weight: bold;
    margin-bottom: 50px;
    border-bottom: solid 1px #fff;
    display: inline-block;
    letter-spacing: 0.03em;
}

.container {
    background-color: black;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

.site-title {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin-bottom: 120px;
}

#side-btn {
    border: solid 1px #fff;
    position: fixed;
    right: -144px;
    bottom: 200px;
    transform: rotate(-90deg) translateY(60px);
    transition: 0.6s;
    z-index: 30;
}

#side-btn a {
    width: 160px;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    transition: 0.3s;
}

#side-btn a:last-of-type {
    border-left: solid 1px #fff;
}

.bg {
    background: url(img/bg.jpg) center center repeat !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.fadein {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
}

.fadein.show {
    transform: translate(0, 0);
    opacity: 1;
}

.logo,
.hamburger,
.bg {
    opacity: 0;
    transition: .5s;
}

.is-show {
    opacity: 1;
}

.logo {
    line-height: 1px;
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 40;
}

.logo a {
    display: block;
}

.hamburger {
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: fixed;
    transition: 0.3s;
    top: 30px;
    right: 40px;
    border-radius: 4px;
    z-index: 40;
}

.hamburger span {
    width: 42px;
    height: 2px;
    background-color: rgb(238, 235, 235);
    position: absolute;
    left: 0px;
    transition: 0.3s ease-in-out;
}

.hamburger span:nth-of-type(1) {
    top: 4px;
}

.hamburger span:nth-of-type(2) {
    top: 14px;
}

.hamburger span:nth-of-type(3) {
    top: 24px;
}

.hamburger.active span:nth-of-type(1) {
    top: 14px;
    left: 0;
    background: #fff;
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    top: 14px;
    left: 0;
    background: #fff;
    transform: rotate(45deg);
}

#navi {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: 30;
}

#navi.active {
    transform: translateY(0%);
}

#navi .menu {
    width: 100%;
    padding: 80px 0 30px 0;
}

#navi .menu li {
    padding: 10px;
}

#navi .menu li a {
    display: block;
}

#mainvisual {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

#mainvisual img {
    width: calc(100%/3);
    height: 100vh;
    object-fit: cover;
    flex-shrink: 0;
}

#information {
    margin-bottom: 250px;
}

#information .info-date-en {
    font-size: 1.5rem;
    display: block;
}

#information .info-time-en {
    font-size: 1.1rem;
    display: block;
}

#information .info-place {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 20px 0;
}

#information .info-date-ja {
    font-size: 1.1rem;
}

#gallery {
    margin-bottom: 480px;
}

#gallery .list li {
    margin-bottom: 60px;
}

#gallery .list li img {
    width: 48%;
}

#gallery .list li:nth-child(odd) {
    text-align: left;
}

#gallery .list li:nth-child(even) {
    text-align: right;
}

#access {
    margin-bottom: 480px;
    position: relative;
    z-index: 20;
}

#access .place {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#access .address {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

#access .contact {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

#access .btn {
    width: 270px;
    border: solid 1px #fff;
    font-weight: bold;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s;
}

#access .btn:hover {
    background-color: black;
}

#contact {
    margin-bottom: 200px;
    position: relative;
    z-index: 20;
}

#contact .btn {
    width: 400px;
    border: solid 1px #fff;
    font-weight: bold;
    display: block;
    padding: 30px 0;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 20px auto;
    position: relative;
}

#contact .btn::before,
#contact .btn::after {
    content: "";
    position: absolute;
    right: -40px;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
}

#contact .btn::before {
    width: 120px;
    top: 48px;
}

#contact .btn::after {
    width: 15px;
    top: 45px;
    transform: rotate(25deg);
}

#contact .btn:hover {
    opacity: 0.7;
}

#contact .btn:hover::before,
#contact .btn:hover::after {
    right: -50px;
}

#footer {
    border-top: solid 1px #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 80px 30px;
    text-align: left;
}

#footer p {
    line-height: 1.5;
}

#footer .sns {
    margin-top: 30px;
    display: flex;
}

#footer .sns li {
    margin-right: 20px;
}

#footer .copyright {
    display: flex;
}

#footer .copyright li {
    margin-right: 20px;
}

@media screen and (max-width: 900px) {

    .site-title {
        font-size: 3rem;
        margin-bottom: 60px;
    }


    .section-title {
        font-size: 2rem;
        margin-bottom: 50px;
    }

    #information {
        margin-bottom: 80px;
    }

    #information .info-date-en {
        font-size: 1rem;
    }

    #information .info-time-en {
        font-size: 1rem;
    }

    #information .info-place {
        font-size: 2rem;
    }

    #information .info-date-ja {
        font-size: 1.rem;
    }

    #gallery {
        margin-bottom: 280px;
    }

    #gallery .list li {
    margin-bottom: 30px;
    }

    #gallery .list li img {
        width: 100%;
    }

    #access {
        margin-bottom: 280px;
    }

    #contact .btn {
        width: 100%;
    }

    #contact .btn::before,
    #contact .btn::after {
        content: none;
    }

    #footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 30px;
    }

    #footer .sns {
        margin-bottom: 30px;
    }

 






        
    
    
    






}